apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: timemachine-pvc
  namespace: nas-system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: nas-zfspv
